@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700');

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
	background-color: #0f3c4c;
}

.app {
    display: flex;
	height:100vh;
}

.sidebar {
    width: 17em;
    background-color: #071e26;
    color: #fff;
    padding-top: 1em;
    height: 100vh;
}

.sidebar header {
    background-color: #0f3c4c;
    padding: 0.75em 1em;
    margin-bottom: 1em;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 1em 1em;
    margin: 0;
}

.sidebar-nav ul li {
    padding: 1em 1em; /* Adjust the padding here */
    border-bottom: 1px solid #333;
}


.sidebar-nav ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}



